<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.color %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <title>
    <%= htmlWebpackPlugin.options.title %> / Visual
  </title>
</head>

<body>

  <h1>Amber Design System / Visual</h1>
  <ul>
    <li><a href="/color/">Color</a></li>
    <li><a href="/grid/">Grid</a></li>
    <li><a href="/iconography/">Iconography</a></li>
    <li><a href="/spacing/">Spacing</a></li>
    <li><a href="/typography/">Typography</a></li>
  </ul>

  <section class="js-warning">
    Your browser has Javascript turned off!
  </section>

</body>

</html>