<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %> / Visual / Color
  </title>
</head>
<body>
  
  <h1><%= htmlWebpackPlugin.options.title %> / Visual / Color</h1>

  <div class="wrapper grid">

    <section class="color-card-container grid-3">
      <h3>Orange</h3>

      <div class="color-card dark" style="background-color: #FFF0E1">
        <span>50</span>
        <span>#FFF0E1</span>
      </div>
      <div class="color-card dark" style="background-color: #FED7B4">
        <span>100</span>
        <span>#FED7B4</span>
      </div>
      <div class="color-card dark" style="background-color: #FDBE87">
        <span>200</span>
        <span>#FDBE87</span>
      </div>
      <div class="color-card dark" style="background-color: #FCA55A">
        <span>300</span>
        <span>#FCA55A</span>
      </div>
      <div class="color-card dark" style="background-color: #FB8C2D">
        <span>400</span>
        <span>#FB8C2D</span>
      </div>
      <div class="color-card dark" style="background-color: #EB6400">
        <span>500</span>
        <span>#EB6400</span>
      </div>
      <div class="color-card light" style="background-color: #D55800">
        <span>600</span>
        <span>#D55800</span>
      </div>
      <div class="color-card light" style="background-color: #BF4C00">
        <span>700</span>
        <span>#BF4C00</span>
      </div>
      <div class="color-card light" style="background-color: #A94000">
        <span>800</span>
        <span>#A94000</span>
      </div>
      <div class="color-card light" style="background-color: #933400">
        <span>900</span>
        <span>#933400</span>
      </div>
    </section>

    <section class="color-card-container grid-3">
      <h3>Grey</h3>

      <div class="color-card dark" style="background-color: #F5F5F5">
        <span>50 - 4%</span>
        <span>#F5F5F5</span>
      </div>
      <div class="color-card dark" style="background-color: #EBEBEB">
        <span>100 - 8%</span>
        <span>#EBEBEB</span>
      </div>
      <div class="color-card dark" style="background-color: #E0E0E0">
        <span>200 - 12%</span>
        <span>#E0E0E0</span>
      </div>
      <div class="color-card dark" style="background-color: #D6D6D6">
        <span>300 - 16%</span>
        <span>#D6D6D6</span>
      </div>
      <div class="color-card dark" style="background-color: #B8B8B8">
        <span>400 - 28%</span>
        <span>#B8B8B8</span>
      </div>
      <div class="color-card dark" style="background-color: #999999">
        <span>500 - 40%</span>
        <span>#999999</span>
      </div>
      <div class="color-card light" style="background-color: #7A7A7A">
        <span>600 - 52%</span>
        <span>#7A7A7A</span>
      </div>
      <div class="color-card light" style="background-color: #5C5C5C">
        <span>700 - 64%</span>
        <span>#5C5C5C</span>
      </div>
      <div class="color-card light" style="background-color: #3D3D3D">
        <span>800 - 76%</span>
        <span>#3D3D3D</span>
      </div>
      <div class="color-card light" style="background-color: #1F1F1F">
        <span>900 - 88%</span>
        <span>#1F1F1F</span>
      </div>
    </section>

    <section class="color-card-container grid-3">
        <div class="color-card dark" style="background-color: #FFF0E1">
          <span>50</span>
          <span>#FFF0E1</span>
        </div>
        <div class="color-card dark" style="background-color: #FED7B4">
          <span>100</span>
          <span>#FED7B4</span>
        </div>
        <div class="color-card dark" style="background-color: #FDBE87">
          <span>200</span>
          <span>#FDBE87</span>
        </div>
        <div class="color-card dark" style="background-color: #FCA55A">
          <span>300</span>
          <span>#FCA55A</span>
        </div>
        <div class="color-card dark" style="background-color: #FB8C2D">
          <span>400</span>
          <span>#FB8C2D</span>
        </div>
        <div class="color-card dark" style="background-color: #EB6400">
          <span>500</span>
          <span>#EB6400</span>
        </div>
        <div class="color-card light" style="background-color: #D55800">
          <span>600</span>
          <span>#D55800</span>
        </div>
        <div class="color-card light" style="background-color: #BF4C00">
          <span>700</span>
          <span>#BF4C00</span>
        </div>
        <div class="color-card light" style="background-color: #A94000">
          <span>800</span>
          <span>#A94000</span>
        </div>
        <div class="color-card light" style="background-color: #933400">
          <span>900</span>
          <span>#933400</span>
        </div>
      </section>
    
    </div>

</body>
</html>