// Typography

// Setup

html {
  font-family: sans-serif;
  font-size: 100%; // 100% = 16px = 1rem
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $text--sans-serif;
  font-size: 1rem; // 16px
  line-height: 1.5rem; // 24px
  font-weight: normal;
  color: $grey-darker;
}

// Text

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: .75rem; // 12px
}

a {
  color: $orange-dark;
  text-decoration: none;
    
  &:focus, &:hover {
    color: $orange-darker;
    text-decoration: underline;
  }
}

blockquote {
  margin-top: 0;
  margin-bottom: 1rem;

  border-left: 4px solid $orange-dark;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem; // 16px 24px

  & *:last-child {
    margin-bottom: 0;
  }
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem; // 16px
  color: $grey-darker;
  font-weight: bold;
}

.text-d1 {
  font-size: 3rem; // 48px
  line-height: 3.5rem; // 56px
}

.text-d2 {
  font-size: 2.5rem; // 40px
  line-height: 3rem; // 48px
}

.text-d3 {
  font-size: 2rem; // 32px
  line-height: 2.5rem; // 40px
}

h1, .text-h1 {
  font-size: 1.75rem; // 28px
  line-height: 2.25rem; // 36px
}

h2, .text-h2 {
  font-size: 1.5rem; // 24px
  line-height: 2rem; // 32px
}

h3, .text-h3 {
  font-size: 1.25rem; // 20px
  line-height: 1.75rem; // 28px
}

h4, .text-h4 {
  font-size: 1.125rem; // 18px
  line-height: 1.75rem; // 28px
}

h5, .text-h5 {
  font-size: 1rem; // 16px
  line-height: 1.5rem; // 24px
}

h6, .text-h6 {
  font-size: .875rem; // 14px
  line-height: 1.25rem; // 20px
}

// Code

code, pre {
  font-family: $text--monospace;
  font-size: .875rem; // 14px
}

code {
  background: $grey-lighter;
  border-radius: .25rem; // 4px
  padding: .125rem .25rem; // 2px 4px
  white-space: nowrap;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;

  background: $grey-lighter;
  display: block;
  padding: 1rem 1.5rem; // 16px 24px

  code {
    background: transparent;
    padding: 0;
    white-space: pre;
  }
}

// Lists

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; // 16px
  padding-left: 0;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ul dl, ul ol, ul ul,
ol dl, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

// Tables

table {
  margin-top: 0;
  margin-bottom: 1rem; // 16px

  border-spacing: 0;
  width: 100%;
}

td, th {
  border-bottom: 1px solid $grey-light;
  padding: 1rem 1.5rem; // 16px 24px
  text-align: left;
}

th {
  font-weight: bolder;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

// Misc

hr {
  border: 0;
  margin: 1rem 0; // 16px 0
  border-top: 1px solid $grey-light;
}


@media (min-width: 768px) {

  // Headings
  
  .text-d1 {
    font-size: 5rem; // 80px
    line-height: 5.5rem; // 88px
  }

  .text-d2 {
    font-size: 4rem; // 64px
    line-height: 4.5rem; // 72px
  }

  .text-d3 {
    font-size: 3rem; // 48px
    line-height: 3.5rem; // 56px
  }

  h1, .text-h1 {
    font-size: 2.5rem; // 40px
    line-height: 3rem; // 48px
  }

  h2, .text-h2 {
    font-size: 2rem; // 32px
    line-height: 2.5rem; // 40px
  }

  h3, .text-h3 {
    font-size: 1.5rem; // 24px
    line-height: 2rem; // 32px
  }

  h4, .text-h4 {
    font-size: 1.25rem; // 20px
    line-height: 1.75rem; // 28px
  }

  h5, .text-h5 {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
  }

  h6, .text-h6 {
    font-size: .875rem; // 14px
    line-height: 1.25rem; // 20px
  }
  
}