<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %> / Visual / Color
  </title>
</head>
<body>
  
  <h1><%= htmlWebpackPlugin.options.title %> / Visual / Color</h1>

  <div class="container">

  <h1 class="display-1">d1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<h1 class="display-2">d2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<h1 class="display-3">d3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<h1>h1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
<h2>h2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
<h3>h3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
<h4>h4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum eu nisl eu dignissim. Cras malesuada nunc in vestibulum ullamcorper.</h4>
<h5>h5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum eu nisl eu dignissim. Cras malesuada nunc in vestibulum ullamcorper.</h5>
<h6>h6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum eu nisl eu dignissim. Cras malesuada nunc in vestibulum ullamcorper.</h6>
<p>p - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum eu nisl eu dignissim. Cras malesuada nunc in vestibulum ullamcorper. Aliquam sit amet magna consequat, aliquam velit a, scelerisque lacus. Duis nec luctus turpis. In a lacinia felis, quis semper urna. Aenean id mi at est pellentesque mollis. Quisque id leo mollis, tincidunt ligula ac, tincidunt magna. Praesent cursus mauris nisl, sagittis placerat felis laoreet eu. Nulla fermentum diam sit amet diam efficitur pharetra. Vivamus velit elit, volutpat et nulla ut, fringilla finibus diam. Maecenas ut tellus turpis. Donec vitae molestie felis, ut consectetur arcu. Curabitur ante ante, efficitur ut augue ut, mollis malesuada felis. Praesent posuere libero magna, id congue dui scelerisque quis. Duis tellus est, scelerisque in luctus at, dictum quis neque.</p>

<pre><code>.bitrock {
color: #bada55;
}</code></pre>

<p>Lorem ipsum <code>code</code> dolor sit amet, consectetur adipiscing <a href="#">link</a> elit. Fusce bibendum <i>italic</i> eu nisl eu dignissim. Cras malesuada <b>bold</b> nunc in vestibulum ullamcorper.</p>

<hr>

<ul>
    <li>Unordered list item 1</li>
    <li>Unordered list item 2</li>
</ul>

<ol>
    <li>Ordered list item 1</li>
    <li>Ordered list item 2</li>
</ol>

<blockquote>
    <p>Yeah!! Bitrock is amazing.</p>
</blockquote>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Stephen Curry</td>
            <td>27</td>
            <td>1,91</td>
        </tr>
        <tr>
            <td>Klay Thompson</td>
            <td>25</td>
            <td>2,01</td>
        </tr>
    </tbody>
</table>

</div>

</body>
</html>