<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %> / Visual / Icons
  </title>

</head>

<body>

  <div class="container"></div>
    <h1>
    <%= htmlWebpackPlugin.options.title %> / Visual / Icons</h1>
  
    <article>
      <i class="icon ion-md-heart"></i>
      <ion-icon name="cart"></ion-icon>
    </article>
  </div>

</body>

</html>