// Paragraph

p {
  margin-bottom: 1rem; // 16px
}

// Heading

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem; // 16px
}

// Lists

ul, ol, dl {
  margin-bottom: 1rem; // 16px
}

// Blockquotes

blockquote {
  margin-bottom: 1rem; // 16px
}

// Code 

pre {
  margin-bottom: 1rem; // 16px
}

// Tables

table {
  margin-bottom: 1rem; // 16px
}

// Forms

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  margin-bottom: 1rem; // 16px
}