@import 'variables';

// Tables

table {
  border-spacing: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

td, th {
  border-bottom: 1px solid $grey-200;
  padding: 1rem 1.5rem; // 16px 24px
  text-align: left;
}

th {
  font-weight: bolder;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}