// Colors

.color-card {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    font-family: $text--monospace;
}
  
.color-card.dark span {
    color: rgba(0,0,0,.87);
}
  
.color-card.light span {
    color: rgba(255,255,255,.87);
}


// Grid

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.grid-card {
    text-align: center;
    padding: 1rem;
    font-family: $text--monospace;
}

.grid-card-container {
    padding: 1rem;
    background-color: #EBEBEB;
}