// Variables


// Colors

$orange-50: #FFF3E1;
$orange-100: #FEDAB4;
$orange-200: #FDC187;
$orange-300: #FCA85A;
$orange-400: #FB8F2D;
$orange-500: #EB6400;
$orange-600: #D55800;
$orange-700: #BF4C00;
$orange-800: #A94000;
$orange-900: #933400;

$orange-lighter: #FFF3E1;
$orange-light: #FDC187;
$orange: #EB6400;
$orange-dark: #BF4C00;
$orange-darker: #933400;

$grey-50: #F5F5F5;
$grey-100: #EBEBEB;
$grey-200: #E0E0E0;
$grey-300: #D6D6D6;
$grey-400: #B8B8B8;
$grey-500: #999999;
$grey-600: #7A7A7A;
$grey-700: #5C5C5C;
$grey-800: #3D3D3D;
$grey-900: #1F1F1F;

$grey-lighter: #F5F5F5;
$grey-light: #E0E0E0;
$grey: #999999;
$grey-dark: #5C5C5C;
$grey-darker: #1F1F1F;

$black: #000000;
$white: #ffffff;


// Typography
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;